.booking-day {
	
	background-color: $light-gray4;
	
	&__instance {
		margin-bottom: 45px;
	}
	
	&__title {
		background-color: $dark-gray;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 2%;
		color: white;
		font-weight: 600;
		margin: 0;
	}
	
	&__header {
		background-color: $medium-gray3;
		display: flex;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;
		
		&__customer {
			color: white;
			width: 25%;
			margin: 0;
			padding: 0;
			margin-left: 2%;
			font-size: 16px;
		}
		
		&__items-container {
			width: 70%;
			display: flex;
			align-items: center;
		}
		
		&__item {
			color: white;
			margin: 0;
			padding: 0;
			font-size: 16px;
			
			&__start-time {
				width: 24%;
			}
			
			&__end-time {
				width: 24%;
			}
			
			&__hours {
				width: 20%;
			}
			
			&__quantity {
				width: 20%;
			}
			
			&__fee {
				width: 12%;
				text-align: right;
			}
			
		}
		
	}
	
	
	&__booking {
		
		color: $text-gray;
		
		&__container {
			display: flex;
			align-items: center;
			background-color: white;
			border-top: 1px solid $light-gray2;
		}
		
		&__container:hover {
			background-color: $extra-light-blue;
		}
		
		&__customer {
			color: $text-gray;
			width: 23%;
			margin: 0;
			padding: 0;
			margin-left: 2%;
			margin-right: 2%;
			font-size: 18px;
			font-weight: 700;
		}
		
		&__customer:hover {
			text-decoration-line: underline;
		}
		
		&__items-container {
			width: 70%;
			margin-top: 25px;
			margin-bottom: 25px;
		}
		
		&__item-container {
			width: 100%;
			display: flex;
			align-items: center;
			padding-top: 7px;
			padding-bottom: 7px;
		}
		
		&__item {
			
			margin: 0;
			padding: 0;
			font-size: 16px;
			
			&__start-time{
				width: 24%;
			}
			
			&__end-time{
				width: 24%;
			}
			
			&__hours {
				width: 20%;
			}
			
			&__quantity {
				width: 20%;
			}
			
			&__fee {
				width: 12%;
				text-align: right;
			}
			
		}
		
		&__total {
			display: flex;
			justify-content: flex-end;
			padding: 0;
			margin: 0;
			
			&__text {
				width: 125px;
				border-top: 2px solid $medium-gray3;
				padding-right: 2%;
				font-size: 16px;
				text-align: right;
				padding-top: 7px;
			}
			
		}
		
		
	}
	
	&__booking:hover {
		color: $text-gray;
		text-decoration-line: none;
	}
	
	&__none {
		
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: $extra-light-blue;
		
		&__text {
			text-align: center;
			opacity: 0.8;
			margin: 0px;
			padding: 0px;
		}
		
	}
	
}

.booking-day__rental:hover .booking-day__rental__customer {
	text-decoration-line: underline;
}