.settings {
	width: 92%;
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 35px;
	
	&__title {
		margin: 0;
		padding: 0;
		font-weight: 500;
		margin-bottom: 5px;
	}
	
	&__box-container {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 35px;
		padding-right: 35px;
		background-color: $light-gray3;
		width: 100%;
		margin-bottom: 50px;
	}
	
	&__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 5px;
		border-bottom: 1px solid $medium-gray2;
		
		&__item {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 2px;
			margin: 0;
			padding: 0;
		}
	}
	
	&__setting {
		
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		
		&__container:not(:last-child) {
			border-bottom: 1px solid $light-gray1;
		}
		
		&__title {
			margin: 0;
			padding: 0;
		}
		
	}
	
	&__label {
		display: block;
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		margin-bottom: 3px;
		font-weight: 300;
	}
	
	&__input {
		display: block;
		width: 100%;
		font-size: 16px;
	}
	
	&__submit {
		margin: 0px;
		background-color: $light-green;
		padding: 15px 30px;
		border-radius: 5px;
		font-size: 18px;
		color: white !important;
		transition: 0.3s all;
		cursor: pointer;
		display: inline-block;
		
		&__container {
			margin-top: 30px;
		}
	}

	&__submit:hover {
		background-color: $dark-green;
	}
	
	&__alert {
		margin-top: -20px;
		margin-bottom: 75px;
	}
	
}